<footer class="krypton-footer">
    <div class="container">
        <!-- Logo -->
        <div class="footer-logo">
            <a href="#">
                <img class="" src="/img/wvwlogo.png" alt="">
                <div class="brand-name">WVW</div>
                <div class="brand-subtitle">Watch Videos & Win</div>
            </a>
        </div>
        
        <!-- Columns -->
        <div class="columns footer-columns is-vcentered">
            <div class="column is-6">
                <!-- Links group -->
                <ul class="footer-links">
                    <li>
                        <a href="token.html">Token</a>
                    </li>

                    <li>
                        <a href="ico.html">ICO</a>
                    </li>
                </ul>
            </div>
            <!-- Newsletter -->
            <!--<div class="column is-4">
                <div class="subscribe-block">
                    <form>
                        <div class="control">
                            <input class="krypton-subscribe-input" type="email" name="email" placeholder="">
                            <button class="subscribe-button">
                                <span>Participe</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>-->
            <!-- Links group -->
            <div class="column is-6">
                <ul class="footer-links">

                    <li>
                        <a href="roadmap.html">Roadmap</a>
                    </li>

                    <li>
                        <a href="www.app.wvwcoin.com">Launch App</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Copyright -->
        <p class="k-copyright">© 2022 | WVW Todos os direitos reservados.</p>
        <br>
        <!-- Made by -->
        <!--<p class="coded-by">Criado por <a href="web3kings.com.br" target="_blank">Web3Kings</a></p>-->
    </div>
    
    <!-- Absolute image -->
    <img class="solar-system" src="/img/bg/solar.svg" alt="">
</footer>