<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>WVW - Watch Videos & Win</title>

  <link rel="icon" type="image/png" href="img/favicon.png" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">

  <link rel="stylesheet" href="{{root}}/css/app.css">
  <link rel="stylesheet" type="text/css" href="{{root}}/css/main.css">
</head>

<body>

  {{> pageloader}}
  {{> body}}
  {{> footer}}
  {{> backtotop}}

  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="./js/bundle.js"></script>

  <script src="https://unpkg.com/web3@latest/dist/web3.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/web3modal"></script>
  <script type="text/javascript" src="https://unpkg.com/evm-chains/lib/index.js"></script>
  <script type="text/javascript" src="https://unpkg.com/@walletconnect/web3-provider"></script>
  <script type="text/javascript" src="https://unpkg.com/fortmatic@2.0.6/dist/fortmatic.js"></script>


  <script>
    "use strict";

    /**
     * Example JavaScript code that interacts with the page and Web3 wallets
     */
    // Unpkg imports
    const Web3Modal = window.Web3Modal.default;
    const WalletConnectProvider = window.WalletConnectProvider.default;
    const EvmChains = window.EvmChains;
    const Fortmatic = window.Fortmatic;
    const ABI = window.WVWToken;

    // Web3modal instance
    let web3Modal

    // Chosen wallet provider given by the dialog window
    let provider;


    // Address of the selected account
    let selectedAccount;

    // remove all comments 
    /**
     * Setup the orchestra
     */
    function init() {

      console.log("Initializing example");
      console.log("WalletConnectProvider is", WalletConnectProvider);
      console.log("Fortmatic is", Fortmatic);

      // Tell Web3modal what providers we have available.
      // Built-in web browser provider (only one can exist as a time)
      // like MetaMask, Brave or Opera is added automatically by Web3modal
      const providerOptions = {
        walletconnect: {
          package: WalletConnectProvider,
          options: {
            rpc: {
              1: "localhost:8545",
              // ... 
            },
          },
          opera: {
            package: true,
          },
        },
      };

      web3Modal = new Web3Modal({
        cacheProvider: false, // optional
        providerOptions, // required
      });

    }


    /**
     * Kick in the UI action after Web3modal dialog has chosen a provider
     */
    async function fetchAccountData() {

      try {

        // Pega a instancia da Wallet
        const web3 = new Web3(provider);

        console.log("Wallet Web3 Instancia: ", web3);

        // Pega o ID da Rede
        const chainId = await web3.eth.getChainId();
        console.log(chainId);

        // Pega o Número do Bloco
        const blockNumber = await web3.eth.getBlockNumber();
        console.log(blockNumber);

        // Pega a lista de contas da Wallet
        const accounts = await web3.eth.getAccounts();
        web3.eth.getAccounts(console.log);

        // Pega o JSON do contrato
        const json = await fetch('https://wvwcoin.com/contracts/WVWPreSale.json')
        const ABI = await json.json()
        const contract = new web3.eth.Contract(ABI.abi, "0xC1De577709Ce809F733b6A994c0D100836cbC97F");
        console.log('Contrato : ', contract);

        // Pega o Preço do Token e o Valor Gasto
        const TokenPreco = await contract.methods.getTokenPrice().call();
        console.log('Token Preço: ', TokenPreco.toString());

        const WVWComprados = await contract.methods.getSpentValue(accounts[0]).call();
        const WVWCompradosEther = web3.utils.fromWei(WVWComprados, 'ether');
        document.getElementById('WVWComprados').innerHTML = WVWCompradosEther.toString();

        // Quando o botão é clicado
        var button = document.getElementById("botao-comprar");
        button.addEventListener("click", async function (e) {
          button.disabled = true;
          document.getElementById('botaoComprar').innerHTML = 'Carregando...';
          // Pega valor do input 
          const valorInput = document.getElementById('input_valor').value;
          // Valor do Input vezes o Preço do Token
          //console.log('valor input:', valorInput);

          //const ValorInputWei = valorInput * TokenPreco;
          const ValorInputWei = web3.utils.BN(valorInput).mul(web3.utils.BN(TokenPreco));
          console.log('ValorInputWei: ', ValorInputWei.toString());
          console.log('valorInput: ', valorInput);
          console.log('TokenPreco: ', TokenPreco);


          if (valorInput == 0) {
            alert('Valor não pode ser 0 WVW');
            button.disabled = false;
            document.getElementById('botaoComprar').innerHTML = 'Comprar';
            return;
          }

          const ValorGasto = await contract.methods.getSpentValue(accounts[0]).call();
          console.log('Valor Gasto: ', ValorGasto.toString());

          const getMinWei = await contract.methods.getMinWei().call();
          console.log('getMinWei: ', getMinWei.toString());

          const getMaxWei = await contract.methods.getMaxWei().call();
          console.log('getMaxWei: ', getMaxWei.toString());

          const novoValor = web3.utils.BN(ValorGasto).add(web3.utils.BN(ValorInputWei));
          //console.log('Novo Valor: ', novoValor.toString());
          //debugger;

          let valorMax = web3.utils.BN(novoValor).cmp(web3.utils.BN(getMaxWei));
          console.log('valorMax: ', valorMax.toString());

          let valorMin = web3.utils.BN(ValorInputWei).cmp(web3.utils.BN(getMinWei));
          console.log('valorMin: ', valorMin.toString());

          if (valorMax > 0) {
            console.log("Travou Valor Max");
            alert("Valor Máximo atingido");
            button.disabled = false;
            document.getElementById('botaoComprar').innerHTML = 'Comprar';
            return;
          }

          if (valorMin < 0) {
            console.log("Travou Valor Min");
            alert("Valor Mínimo não atingido");
            button.disabled = false;
            document.getElementById('botaoComprar').innerHTML = 'Comprar';
            return;
          }

          const testBigN = 10000 * 5000000000000;
          console.log("1", testBigN);

          const testBigN2 = web3.utils.BN(valorInput).mul(web3.utils.BN(TokenPreco));
          console.log(testBigN2.toString());
          console.log(valorInput);

          try {
            const teste = await contract.methods.buyTokens(valorInput).send({ from: accounts[0], value: testBigN2.toString() });
            //const teste = await contract.methods.buyTokens(200).send({ from: accounts[0], value: 200 * 5000000000000 });
            console.log(teste);
            alert("Tokens comprados com sucesso.");
            button.disabled = false;
            document.getElementById('botaoComprar').innerHTML = 'Comprar';
          } catch (error) {
            console.log(error.message);
            alert("Algo deu errado, recarregue a página e tente novamente.");
            button.disabled = false;
            document.getElementById('botaoComprar').innerHTML = 'Comprar';
            return;
          }

        }, false);

        // Display fully loaded UI for wallet data
        document.querySelector("#prepare").style.display = "none";
        document.querySelector("#connected").style.display = "block";
      } catch (error) {
        console.log(error.message);
        alert("Verifique se a Wallet está conectada na rede correta");
        button.disabled = false;
        document.getElementById('botaoComprar').innerHTML = 'Comprar'; 
        return;
      }
    }



    /**
     * Fetch account data for UI when
     * - User switches accounts in wallet
     * - User switches networks in wallet
     * - User connects wallet initially
     */
    async function refreshAccountData() {

      // If any current data is displayed when
      // the user is switching acounts in the wallet
      // immediate hide this data
      document.querySelector("#connected").style.display = "none";
      document.querySelector("#prepare").style.display = "block";

      // Disable button while UI is loading.
      // fetchAccountData() will take a while as it communicates
      // with Ethereum node via JSON-RPC and loads chain data
      // over an API call.
      document.querySelector("#btn-connect").setAttribute("disabled", "disabled")
      await fetchAccountData(provider);
      document.querySelector("#btn-connect").removeAttribute("disabled")
    }


    /**
     * Connect wallet button pressed.
     */
    async function onConnect() {

      console.log("Opening a dialog", web3Modal);
      try {
        provider = await web3Modal.connect();
      } catch (e) {
        console.log("Could not get a wallet connection", e);
        return;
      }

      // Subscribe to accounts change
      provider.on("accountsChanged", (accounts) => {
        fetchAccountData();
      });

      // Subscribe to chainId change
      provider.on("chainChanged", (chainId) => {
        fetchAccountData();
      });

      // Subscribe to networkId change
      provider.on("networkChanged", (networkId) => {
        fetchAccountData();
      });

      await refreshAccountData();
    }

    /**
     * Disconnect wallet button pressed.
     */
    async function onDisconnect() {

      console.log("Killing the wallet connection", provider);

      // TODO: Which providers have close method?
      if (provider.close) {
        await provider.close();

        // If the cached provider is not cleared,
        // WalletConnect will default to the existing session
        // and does not allow to re-scan the QR code with a new wallet.
        // Depending on your use case you may want or want not his behavir.
        await web3Modal.clearCachedProvider();
        provider = null;
      }

      selectedAccount = null;

      // Set the UI back to the initial state
      document.querySelector("#prepare").style.display = "block";
      document.querySelector("#connected").style.display = "none";
    }


    /**
     * Main entry point.
     */
    window.addEventListener('load', async () => {
      init();
      document.querySelector("#btn-connect").addEventListener("click", onConnect);
      document.querySelector("#btn-disconnect").addEventListener("click", onDisconnect);
    });

  </script>
</body>

</html>